snippet paper
	## Type:
	
	##  What is the main question/objective?
	
	##  What are the main findings?
	
	##  Network Re-Construction Method:
	
	##  Experimental Approaches:
	
	##  Genetic Approaches:
	
	##  Citable Notes:
