view/
bundle/Conque-GDB/
bundle/Vim-R-plugin/
bundle/YouCompleteMe/
bundle/bash-support.vim/
bundle/csv.vim/
bundle/minibufexpl.vim/
bundle/nerdtree/
bundle/perl-support.vim/
bundle/syntastic/
bundle/tabular/
bundle/tlib_vim/
bundle/vim-addon-mw-utils/
bundle/vim-calutil/
bundle/vim-diff/
bundle/vim-fugitive/
bundle/vim-ipython/
bundle/vim-pandoc/
bundle/vim-repeat/
bundle/vim-rst-tables/
bundle/vim-snipmate/
bundle/vim-surround/
bundle/visincr/
bundle/vimwiki
bundle/goyo.vim
bundle/seoul256.vim
bundle/tagbar/
bundle/vim-airline/
